*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f5fbff;
}
html{
    scroll-behavior: smooth;
}
h1{
    text-align: center;
    font-size: 30px;
}
h2{
    font-size: 18px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 6%;
}
#img3, #img4, #img5{
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 15%;
    padding-right: 2%;
}
/*Naviagtion Bar*/
.bg-img {
  background-image: url("images/hp4.jpg");
  min-height: 500px;
  min-height: 710px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-left: 1%;
  padding-top: 0.5%;
}
.container {
  position: absolute;
  margin: 1.3vw;
  width: auto;
}
.topnav {
  overflow: hidden;
  background-color: #c0e6f0;
}
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.1vw;
}

.topnav a:hover {
  background-color: #8acbde;
  color: black;
}
/*End Navigation Bar*/
/*Footer*/
footer{
  background-color: #e5f3fd;
}
.row{
  padding: 16px 160px;
}
.row.primary{
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
}
.column{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 2em;
  min-height: 15em;
}
h4 {
  width: 100%;
  padding-bottom: 5%;
  text-align: left;
  color: rgb(0, 0, 0);
  font-size: 1.4vw;
  white-space: nowrap;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
li:not(:first-child) {
  margin-top: 0.8em;
}
ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 1vw;
}
ul li a:hover {
  color: #c7940a;
}
.copyright p {
  text-align: right;
  padding: 2em 2em;
  background-color: #d1e5f4;
}
/*End Footer*/
#ul1{
  list-style: square;
  padding-left: 5%;
  padding-right: 10%;
  font-size: 17px;
}
#ol1{
  padding-left: 5%;
  padding-right: 10%;
  list-style: upper-roman;
  font-size: 18px;
  color: black;
}
#para1{
padding-left: 5%;
padding-right: 10%;
font-size: 17px;
}
#para2, #para3, #para4{
  padding-left: 5%;
  padding-right: 10%;
  font-size: 17px;
}
.p1, .p2, .p3{
  font-size: 17px;
}
#img3, #img4, #img5{
  height: 307.2px;
  width: 614.4px;
}
#img6{
width: 768px;
height: 110px;
}
